# Node modules
node_modules/

# Build output
dist/
HttpData/GameData/
package-lock.json
launcher/build/
launcher/dist/
launcher/*.spec

# OS-specific files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local
launcher/.venv/